<h2 class="mt-3 text-center">External Services</h2>
<% @linkage.each do |linkage| %>
  <div class="card col-5 d-inline-block me-5">
  <div class="card-header">
    <%= linkage.name %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= linkage.description %></p>
   <%= link_to 'Create token', new_linkage_system_path(definition: linkage.id), class: 'btn btn-outline-primary' %>
   <%= link_to 'Update', edit_linkage_system_path(linkage, definition: linkage.id), class: 'btn btn-outline-secondary' %>
  </div>
</div>
<% end %>
